table{
    border-collapse: collapse;
    text-align: center;
    thead{
        th{
            border: 2px solid;
        }
        
    }
    tbody{
        td{
            border: 2px solid;
        }
    }
}