
<div class="companyform">
    <div class="form">
        <!-- <div class="id">
            <label for="">Company Id :</label>
            <input type="text"  name="cmpid" [(ngModel)]="cmpid">
        </div> -->
        <div class="name">
            <label for="">Company Name :</label>
            <input type="text" name="cmpname" [(ngModel)]="cmpname" >
        </div>
        <div class="location">
            <label for="">Location :</label>
            <input type="text" name="location" [(ngModel)]="location">
        </div>
        <div class="add">
            <button (click)="addcompanyDeatils()" [hidden]="!isvisible" >Add</button>
        </div>
        <div class="getcompanytable">
            <!-- <button (click)="getcompanytable()">Company Table</button> -->
        </div>
        <div class="updateCompanyDetails">
            <button (click)="updateCompanyDetails(cmpid)" [hidden]="isvisible">update</button>
        </div>
    </div>
</div>